<router-outlet></router-outlet>

<div id="bigMenu">
  <nav style="margin-top: 40px"><a routerLink="/add-movie" type="button">Add Movie</a></nav>
  <nav><a routerLink="/update-movie" type="button">Update Movie</a></nav>
  <nav><a routerLink="/delete-movie" type="button">Delete Movie</a></nav>
  <nav><a routerLink="/list-movies" type="button">List Movies</a></nav>
  <nav><a routerLink="/filter-genres" type="button">Filter Genres (server-side)</a></nav>
  <nav><a routerLink="/sort-genres" type="button">Sort Genres (server-side)</a></nav>
  <nav><a routerLink="/filter-cinemas" type="button">Filter Cinemas (client-side)</a></nav>
  <nav><a routerLink="/sort-cinemas" type="button">Sort Cinemas (client-side)</a></nav>
</div>
