<div id="bigMenu">
  <form style="padding-top: 10px;" [formGroup]="genreForm">
    <label for="name">Name:</label><br>
    <input type="text" id="name" class="form-control" formControlName="name" required><br>

    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">
      <div class="error" *ngIf="name.errors.required">
        Name is required.
      </div>
      <div class="error" *ngIf="name.errors.minlength">
        Name must be at least 3 characters long.
      </div>
    </div>

    <input style="margin-bottom: 0;" id="submitButton" type="button" value="Filter Genres" (click)="filterGenres(name.value)">
  </form>

  <table class="genres">
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <tr *ngFor="let genre of filteredGenres">
      <td>{{genre.id}}</td>
      <td>{{genre.name}}</td>
    </tr>
  </table>
</div>
