<div id="bigMenu">
  <form style="padding-top: 10px;">
    <label for="id">ID:</label><br>
    <input id="id" type="text" name="id" #id><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" #author><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" #name><br>
    <label for="type">Type:</label><br>
    <select id="type" name="type" #type>
      <option value="nothing">-</option>
      <option value="Dessert">Dessert</option>
      <option value="Meat">Meat Lovers</option>
      <option value="Pasta">Pasta</option>
      <option value="Vegetarian">Vegetarian</option>
    </select><br>
    <label for="desc">Description:</label><br>
    <input type="text" id="desc" name="desc" #desc><br>
    <input style="margin-bottom: 0;" id="submitButton" type="button" value="Update Recipe" (click)="UpdateRecipe(id.value, author.value, name.value, type.value, desc.value); id.value=''; author.value=''; name.value=''; type.value=''; desc.value=''">
  </form>
</div>
