#bigMenu {
  margin: 160px auto;
  background-color: antiquewhite;
  border: 2px solid black;
  width: 350px;
  height: 350px;
}

form {
  padding-top: 10px;
}

label {
  margin-left: 70px;
  font-size: 16px;
}

#submitButton {
  margin-left: 130px;
  margin-top: 10px;
}

select {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 70px;
}

input {
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 16px;
}
